.CodeMirror {
  height: 340px !important;
  color: white !important;
}
.CodeMirror-gutters {
  background-color: #1d1e1d !important;
}
.CodeMirror-scroll {
  background-color: #1d1e1d !important;
}
.full-screen {
  transition: all 0.2s linear;
  padding: 0.6rem;
  cursor: pointer;
}
.full-screen:hover {
  color: rgb(159, 235, 210);
  background-color: #666;
  border-radius: 10px;
}
.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden !important;
}
